@import "../base";
@import "../settings";

$width: 200px;

#ide-popup {
  width: $width;
  max-width: $width;
  color: $primary-color;

  .ide-bookmarklet {
    display: block;
    border-bottom: 1px solid;

    &:hover {
      background-color: #efefef;
    }

    &:last-of-type {
      border: none;
    }
  }


}