// Stylesheets
link(rel='stylesheet' href='assets/third-party/foundation-sites/dist/foundation.min.css')
link(rel='stylesheet' href='assets/third-party/codemirror/lib/codemirror.css')
link(rel='stylesheet' href='assets/third-party/font-awesome/css/font-awesome.min.css')

// Scripts
script(type='application/javascript' src='assets/third-party/jquery/dist/jquery.min.js')
//script(type='application/javascript' src='assets/third-party/what-input/what-input.min.js')
script(type='application/javascript' src='assets/third-party/foundation-sites/dist/foundation.min.js')
script(type='application/javascript' src='assets/third-party/codemirror/lib/codemirror.js')

// IDE Scripts
script(type='application/javascript' src='assets/js/ide.js')
