// Stylesheets
link(rel='stylesheet' href='assets/third-party/codemirror/codemirror.css')

// Scripts
script(type='application/javascript' src='assets/third-party/jquery/jquery.min.js')
script(type='application/javascript' src='assets/third-party/codemirror/codemirror.js')

// IDE Scripts
script(type='application/javascript' src='assets/js/ide.js')
