doctype
html
  head
    script(type='application/javascript' src='assets/js/settings.js')
    include _assets
    include _foundation
    block title
    link(rel='stylesheet' href='assets/css/editor.css')
    script(type='application/javascript' src='assets/third-party/codemirror/mode/javascript.js')
    script(type='application/javascript' src='assets/js/formatter.js')
  body#ide-editor
    header#ide-editor-header.row
      //a#ide-editor-btn-close.float-right
      //  span.icon.fa.fa-close
      img(src='assets/images/ide-logo-512.png')#ide-editor-logo.float-left
      #ide-editor-file-container.row
        //div#ide-editor-file-location.small-2.large-2.columns Select
        //div#ide-editor-file-separator.small-4.large-1.columns /
        span.small-6.large-8.columns
          input#ide-editor-file-name(type='text' value='Untitled')

    aside#ide-editor-options.float-right.row.large-2
      a#ide-editor-btn-save.button
        span.icon.fa.fa-save
        | &nbsp;Save

      br
      a#ide-editor-btn-formatfile.button
        span.icon.fa.fa-paint-brush
        | &nbsp;Format File

      br
      a#ide-editor-btn-run.button
        span.icon.fa.fa-play
        | &nbsp;Run

      br
      a#ide-editor-lnk-editoroptions
        | Options&nbsp;
        span.icon.fa.fa-gear


    section.row.small-10
      block content

    //a.button.float-right Beautify

    script(type='application/javascript' src='assets/js/editor.js')
