link(rel='stylesheet' href='assets/third-party/foundation-sites/dist/foundation.min.css')
link(rel='stylesheet' href='assets/third-party/font-awesome/css/font-awesome.min.css')

script(type='application/javascript' src='assets/third-party/foundation-sites/dist/foundation.min.js')
