doctype
html
  head
    title Hi there

body
  label Bookmarklets Project Directory
  br
  input#ide-options-projectdir(type='text')

  script(type='application/javascript' src='assets/js/settings.js')
