doctype
html
  head
    include jade/_assets
    link(rel='stylesheet' href='assets/css/popup.css')
  body#ide-popup
    header#ide-popup-header.row
      #ide-tool-container
        a#btn-new.button.float-right(href="new.html" target='_blank') New

    #ide-popup-content.row

    script(type='application/javascript' src='assets/js/popup.js')
