doctype
html
  head
    include jade/_assets
    link(rel='stylesheet' href='assets/css/popup.css')
  body#ide-popup
    header.ide-popup-header.row
      .columns.small-12
        .ide-tool-container
          a.btn-new.button(href="new.html" target='_blank')
            span.icon.fa.fa-plus
            |New

    .ide-popup-content.row.collapse
      .columns.small-12(data-popup-content)

    script(type='application/javascript' src='assets/js/popup.js')